body {
    font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Roboto", sans-serif;
}

nav {
    .container {
        height: 100%;
        a {
            align-items: center;
            display: flex;
            justify-content: center;
            height: 100%;
            img {
                height: 90%;
            }
        }
    }
}

#app-container {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

#details {
}

#home {
    #card-container {
    }
    #input {
    }
}

#no-match {
    .col {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        @media only screen and (min-width: 601px) {
            height: 400px;
        }
        h1 {
            font-size: 6.3rem;
            font-weight: 700;
        }
        img {
            height: auto;
            max-height: 100%;
            max-width: 100%;
            width: auto;
        }
    }
}

#router-container {
    flex: 1 0 auto;
    padding: 2rem 0;
}
